.nav-pc li:nth-child(1) {
    color: rgba(45, 101, 205, 1);
}
/*swiper用*/
.swiper {
    opacity: 0.7;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
}
.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/*container-title*/
.container-title {
    max-width: 30vw;
    border-top: 1px solid rgba(0, 62, 153, 1);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container-title p:nth-of-type(1) {
    max-width: 8vw;
    background-color: rgba(0, 62, 153, 1);
}
.container-title h3 {
    font-size: 40px;
    color: rgba(0, 62, 153, 1);
    text-shadow: 2px 2px 4px rgba(0, 62, 153, 0.5);
}
.container-title p {
    text-shadow: 2px 2px 4px rgba(0, 62, 153, 0.5);
    color: rgba(0, 62, 153, 1);
}
/*swiper-container*/
.swiper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.swiper {
    position: relative;
    z-index: -10 !important;
}
.swiper-container h1 {
    position: absolute;
    z-index: -9;
    font-size: 13vw;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #fff;
    top: 25%;
    text-align: center;
    width: 100%;
}
.swiper-container h3 {
    position: absolute;
    z-index: -8;
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: 0.15rem;
    top: 40%;
    transform: translateX(0);
    text-align: center;
    width: 90%;
    color: #333;
    line-height: 1.5;
}
.swiper-container span {
    color: rgba(0, 135, 42, 1);
}
.swiper-container p {
    text-align: center;
    line-height: 2;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.swiper-container-message {
    margin-top: 40px;
}
/*collection-container*/
.collection-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.collection-container-top {
    display: flex;
    justify-content: space-between;
}
.container-top-message  {
    margin-top: 20px;
    margin-right: 300px;
}
.container-top-message p {
    line-height: 1.8;
    color: #333;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
/*btn*/
.collection-btn a {
    transition: all 0.3s ease-in-out;
}
.collection-btn a:hover {
    opacity: 0.8;
    transform: scale(1.05);
}
.btn img {
    width: 20vw;
    border-radius: 15px;
}
.scroll-animate {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.collection-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.btn-left,
.btn-right {
    display: flex;
    gap: 20px;
}
/*collection-container-message*/
.collection-container-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.collection-container-message p {
    letter-spacing: 0.1em;
    color: #333;
    line-height: 1.5;
    margin-top: 10px;
}
.to-process a {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(0, 62, 153, 1);
    line-height: 1.5;
}
.to-process {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 20px;
}
.to-consultation-inside {
    text-align: center;
}
.to-consultation-inside h3 {
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.1em;
    color: #333;
    margin-bottom: 40px;
}
.to-consultation-inside a {
    color: #fff;
    background-color: rgba(0, 135, 42, 1);
    border: 1px solid rgba(0, 135, 42, 1);
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 40px;
}
.to-consultation-inside a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 135, 42, 1);
}
.to-consultation-inside {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 35px 200px;
}
.to-consultation-outside {
    background: url(ホーム/問い合わせbackground.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-top: 30px;
}
/*service-container*/
.service-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.service-btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 40px;
}
.service-btn a {
    width: 30vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(ホーム/問い合わせbackground.jpg);
    background-position: center;
    background-size: cover;
}
.service-btn button {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 62, 153, 0.5);
}
.service-btn h3 {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}
.service-btn p {
    background-color: #fff;
    color: rgba(0, 62, 153, 1);
    padding: 10px 25px;
    max-width: 140px;
    margin: 20px auto;
    border-radius: 30px;
}
.service-btn a {
    transition: all 0.3s ease-in-out;
}
.service-btn a:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.service-btn a:hover button {
    background-color: rgba(92, 62, 46, 0.5);
}
.service-btn a:hover p {
    background-color: rgba(0, 62, 153, 1);
    color: #fff;
}
/*information-container*/
.information-messages {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.information-container {
    display: flex;
    flex-direction: column;
}
.information-message p:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    line-height: 1.6;
}
.information-message p:nth-child(2) {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    margin: 10px auto;
}
.information-message {
    border-bottom: 1px solid rgba(0, 62, 153, 1);
    min-width: 80vw;
}
/*company-container*/
.company-top {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}
.company-top iframe {
    width: 35vw;
}
.company-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}
/*table*/
.company-message th {
    background-color: rgba(242, 245, 250, 1);
}
.company-message table {
    border-left: 1px solid rgba(221, 221, 221, 1);
    border-top: 1px solid rgba(221, 221, 221, 1);
}
.company-message th,
.company-message td {
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    border-right: 1px solid rgba(221, 221, 221, 1);
    padding: 10px;
    color: #333;
}
.hiring {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    padding: 5vh 10vw;
}
.hiring h3 {
    font-size: 1.85rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.6
}
.hiring p {
    font-size: 15px;
    letter-spacing: 0.1em;
    margin-top: 30px;
    margin-bottom: 50px
}
.hiring a {
    color: #fff;
    background-color: rgba(0, 135, 42, 1);
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 135, 42, 1);
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}
.hiring a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 135, 42, 1);
}
.company-bottom {
    background: url(ホーム/問い合わせbackground.jpg);
    background-position: center;
    background-size: cover;
    margin: 60px auto;
    max-width: 60vw;
    padding: 20px;
}
@media (max-width: 768px) {
    .collection-container-top {
        display: flex;
        flex-direction: column;
    }
    .container-title {
        max-width: 90vw;
    }
    .container-title p:nth-of-type(1) {
        max-width: 30vw;
    }
    .container-title h3 {
        font-size: 30px;
    }
    .container-title p:nth-of-type(2) {
        font-size: 15px;
    }
    .container-top-message {
        margin: 20px;
    }
    .collection-btn {
        display: flex;
        flex-direction: column;
    }
    .btn img {
        min-width: 40vw;
    }
    .btn-left,
    .btn-right {
        display: flex;
        flex-direction: column;
    }
    .collection-container-message {
        max-width: 90vw;
        margin: 20px auto;
    }
    .to-process {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 10%;
    }
    .to-consultation-outside {
        max-width: 90vw;
    }
    .to-consultation-inside {
        padding: 30px;
    }
    .service-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .service-btn a {
        width: 80vw;
    }
    .company-top {
        display: flex;
        flex-direction: column;
    }
    .company-top iframe {
        width: 90vw;
    }
    .company-bottom {
        max-width: 90vw;
    }
    
}