main {
    max-width: 80vw;
    font-size: clamp(14px, 2vw, 18px);
    color: #333;
    margin: 10vh auto;
}
.small-title {
    width: 100%;
    background-color: rgba(38, 87, 178, 1);
    border-bottom: 5px solid rgba(0, 0, 0, 1);
}
.small-title h3 {
    font-size: 1em;
    color: #fff;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.big-title h1 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10vh;
}