.nav-pc li:nth-child(2) {
    color: rgba(45, 101, 205, 1);
}
.collection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:  0 auto;
}
.collection-big-title h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.6;
    color: #333;
}
.collection-big-title {
    margin: 60px auto;
}
.small-title h3 {
    font-size: 1.1em;
    font-weight: 500;
    color: #fff;
    background-color: rgba(38, 87, 178, 1);
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.small-title {
    border-bottom: 4px solid rgba(0, 0, 0, 1);
}
.collection-message {
    min-width: 80vw;
}
.collection-message p {
    margin-top: 25px;
    letter-spacing: 0.1em;
    color: #333;
    line-height: 1.6;
}
/*btn*/
.collection-btn a {
    transition: all 0.3s ease-in-out;
}
.collection-btn a:hover {
    opacity: 0.8;
    transform: scale(1.05);
}
.btn img {
    width: 20vw;
    border-radius: 15px;
}
.scroll-animate {
    display: flex;
    justify-content: center;
    gap: 10px;
}
/*collection-btn*/
.collection-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.btn-left,
.btn-right {
    display: flex;
    gap: 10px;
}
/*buy-contact*/
.buy-contact {
    background: url(ホーム/問い合わせbackground.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}
.buy-contact-inside {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px 60px 50px;
}
.buy-contact-inside h3 {
    font-size: 2em;
    font-weight: 700;
    color: #333;
    line-height: 1.6;
    letter-spacing: 0.1em
}
.buy-contact-inside p {
    font-size: 1.1em;
    line-height: 1.6;
    letter-spacing: 0.1em;
    color: #333;
    margin-top: 30px;
    margin-bottom: 40px;
}
.buy-contact-inside a {
    background-color: rgba(0, 135, 37, 1);
    color: #fff;
    border: 1px solid rgba(0, 135, 37, 1);
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    border-radius: 10px;
}
.buy-contact-inside a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 135, 37, 1);
}
.small-title {
    max-width: 85vw;
    width: 100%;
}
.product-container {
    max-width: 85vw;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.product-content {
    display: flex;
    flex-direction: column;
}
.product-title {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(232, 232, 232, 1);
}
.product-title img {
    background-color: rgba(0, 80, 160, 1);
    padding: 2px;
    max-width: 15px;
    max-height: 15px;
}
.product-title p {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.product-message {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.product-message p {
    max-width: 60%;
    color: #333;
}
.product-message img {
    max-width: 39%;
    width: 100%;
}
@media (max-width: 768px) {
    .collection-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .collection-message p {
        max-width: 80vw;
    }
    .product-message {
        display: flex;
        flex-direction: column;
    }
    .product-message p {
        max-width: 100%;
    }
    .product-message img {
        max-width: 100%;
        margin-top: 10px;
    }
    .buy-contact-inside {
        font-size: 1.2em;
    }
    .collection-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .btn-left,
    .btn-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .btn img {
        width: 40vw;
    }
    .collection-big-title {
        margin: 20px auto;
        font-size: 13px;
    }
    .collection-container {
        margin: 20px;
    }
    .buy-contact-inside h3 {
        font-size: 20px;
    }
    .buy-contact-inside p {
        font-size: 10px;
    }
}