.nav-pc li:nth-child(4) {
    color: rgba(45, 101, 205, 1);
}
.big-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #333;
    margin-top: 80px;
    width: 100%;
    max-width: 100%;
}
.small-title h3 {
    font-size: 1.1em;
    font-weight: 500;
    color: #fff;
    background-color: rgba(38, 87, 178, 1);
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.small-title {
    border-bottom: 4px solid rgba(0, 0, 0, 1);
}
.process-container {
    max-width: 85vw;
    display: flex;
    flex-direction: column;
    margin: 80px auto;
}
.title {
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted rgba(55, 134, 195, 1);
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 8px;
    align-items: center;
}
.title img {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}
.title p {
    font-size: 18px;
    color: #333;
    display: inline-block;
    padding-right: 4px;
}
.message {
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 60px;
}
.tel-process {
    margin-top: 40px;
}
.message p {
    max-width: 100%;
}
.tel-process-message p {
    font-size: 18px;
    color: #333;
}
@media (max-width: 768px) {
    .big-title h1 {
        font-size: 25px;
        line-height: 1.5;
    }
}